@page
@model EDP.Pages.PurchaseHistory.UserPurchaseHistoriesModel
@{
    ViewData["Title"] = "Purchase History";
}

<h1 class="display-4">@ViewData["Title"]</h1>
@{
    foreach(var PH in Model.UserPurchaseHistories)
    {
        <p>Purchase History ID:@PH.purchase_history_id</p>
        foreach(var item in Model.UserPurchaseItems){
            if (item.purchase_history_id == PH.purchase_history_id)
            {
                <p>Product Name: @item.product_name</p>
                 <p>Product Price for One: @String.Format("{0:c}", item.price)</p>
                  <p>Quantity: @item.quantity</p>
                  <br>
            }
        }
        <br />
    }
}
