################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EDP/EDP/obj/Debug/net6.0/EDP.assets.cache
*.vsidx
/.gitignore
